<div class="jumbotron">
    <h1 class="display-4" style="text-align: center">Burger Logger!</h1>
    <hr class="my-4">
    <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="burgerInput" placeholder="New Burger">
    </div>
</div>



<div id="main">
    <div class="burger_container">
        <img src="assets/img/baconcheese.jpg" alt="Bacon cheese" height="42" width="42"></img>
        <ol>
            {{#each burger_name}}
            {{#unless devoured}}
            {{> burger devoured=true}}
            {{/unless}}
            {{/each}}
        </ol>
    </div>
    <div class="burger_container">
        <img src="assets/img/baconcheese.jpg" alt="Bacon cheese" height="42" width="42"></img>
        <ol>
            {{#each burger_name}}
            {{#if devoured}}
            {{> burger devoured=false}}
            {{/if}}
            {{/each}}
        </ol>
    </div>
</div>



{{!-- <p>I AM IN THE BURGER FILE</p>

<p>{{name}}</p> --}}

{{!-- <ol>
    {{#each brgrs}}
    {{> burger sleep=false}}
    {{/each}}
</ol> --}}